.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.hero__card {
	background-color: aliceblue;
	border-radius: 20px;
	width: 90%;
	max-width: 50rem;
	height: 75%;
	min-height: 53rem;
	max-height: 80rem;
}
.container__images {
	height: 20%;
	position: relative;
}
.hero__image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0rem auto;
}
.image--box {
	z-index: 1;
	top: -29px;
	right: 133px;
}
.image--pattern {
	top: -112px;
}
.image--woman {
	top: -90px;
}
.title {
	text-align: center;
	font-size: 3.3rem;
	font-weight: $bold;
}
.container__faq {
	display: grid;
	grid-template-columns: 95% 5%;
	grid-template-rows: auto;
	width: 90%;
	margin: 2.3rem auto;
}
.heading {
	margin: 0rem;
	font-size: 1.9rem;
	font-weight: $regular;
	color: $very-dark-grayish-blue;
}
.container__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
}
.arrow {
	width: 11px;
	transition: all, 0.1s;
}
.paragraph__faq {
	font-size: 1.69rem;
	color: $vark-grayish-blue;
	height: 0rem;
	overflow: hidden;
	margin: 0rem auto;
}
.separator {
	margin: 0rem auto;
	width: 90%;
	padding: 0.09rem 2rem;
	background-color: $light-grayish-blue;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 35rem;
}
.active {
	height: auto;
	margin: 2rem auto 0rem auto;
}
.active__arrow {
	transform: rotatex(180deg);
	transition: all, 0.4s;
}
.heading {
	cursor: pointer;
}
