$mainfont: "Kumbh Sans", sans-serif;

/* Colors */
$soft-violet: rgb(175, 103, 233);
$soft-blue: hsl(240, 73%, 65%);

/* Text color */
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$vark-grayish-blue: hsl(240, 6%, 50%);

/* Dividing line color */
$light-grayish-blue: hsl(240, 5%, 91%);

/* Media Queries */
$mobile: 375px;
$desktop: 1440px;

/* Fonts size */
$font-size: 12px;

/* Font-weights */
$regular: 400;
$bold: 700;
